# Configurações do servidor ArgoCD
server:
  service:
    type: NodePort
    nodePorts:
      http: 30080
      https: 30443
  
  ingress:
    enabled: false
  
  # Configurações para ambiente local
  extraArgs:
    - --insecure
  
  # Recursos
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi

# Configurações do repo server
repoServer:
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi

# Configurações do application controller
controller:
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi

# Configurações do Redis
redis:
  enabled: true
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi

# Configurações do Dex (OIDC)
dex:
  enabled: true
  resources:
    limits:
      cpu: 200m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 64Mi
